/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Light";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Light"), url("./abcsans-light.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #333;
}
body {
  margin: 0;
  overflow: hidden;
}
#container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
}
h1, p {
  padding: 0;
  margin: 0;
}
#description {
  font-size: 1rem;
  margin-bottom: .5rem;
}
#description::after {
  content: ":";
}
#chart {
  height: 100%;
  opacity: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.year {
  background: #f2f2f2;
  width: 0%;
  display: flex;
}
.result {
  background: #009CBF;
  height: 100%;
  width: 0px;
  display: flex;
  box-shadow: 1px 1px 3px #333;
}
.label {
  font-size: 1rem;
  color: white;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  padding-left: .5rem;
}
.yearLabel {
  font-size: 1rem;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  padding-left: .5rem;
  color: #FFB300;
}
.count {
  font-size: 1rem;
  padding-left: .5rem;
}
.headshot {
  background-position: center;
  background-size: cover;
}
#footer {
  font-size: .7rem;
  text-align: right;
  margin-top: .5rem;
  font-family: "ABCSans Light", "Arial Narrow", sans-serif;
}
@media only screen and (min-width: 500px) {
  #description::after {
    content: ", 1995 to 2020:";
  }
  .label {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
  .yearLabel {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
  .count {
    font-size: 1.5rem;
    padding-left: 1rem;
  }
  #footer {
    font-size: .75rem;
    margin-top: 1rem;
  }
}
